.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .card-div {
 height: 25rem;
} */

.main-card {
  max-width: 800px;
  text-align: center;
  border-radius: 50px;
}

/* .header-logo {
  min-height: 300px;
  width: auto;
  margin: auto;
} */

.header-bk {
  color: #f7f7f7;
}

.bkgrnd-img {
  background-image: url("../public/urban_walls_background_2.jpg");
  background-size: contain;
}

.border-1 {
  border-bottom: 20px solid rgb(2, 79, 120) !important;
}

.h6-c {
  line-height: 1.7em;
  color: rgb(96, 96, 96) !important;
  font-size: 1.1em;
}

.mdl-body {
  position: relative;
  padding: 0px;
  min-height: 400px;
  background: #ccc;
}

/* .lightbox-image {
  margin: 0 auto;
  min-height: 300px;
} */

.searchbar {
  min-width: 500px;
}

.new-post-btn {
  min-width: 350px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue'
}

p, input, button {
  font-family: 'Montserrat'
}

.h2-title {
  font-size: 3rem;
}

.h5-subtitle {
  color: rgb(53, 53, 53);
  margin-top: -5px;
  font-family: 'Montserrat';
  font-size: 1.1rem;
}

.sub-text {
  font-family: 'Montserrat';
  color: rgb(75, 75, 75);
  font-size: 1.2rem;
  margin-top: -70px;
  margin-bottom: 50px;
  width: 60%;
}

/* font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */